.app {
  text-align: center;
}

.struktur {
  height: 100vh;
  outline: 1px solid blue;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
}

.hode {
  background: lightblue;
  padding: 20px
}

.fot {
  background: lightgreen;
  padding: 20px
}

.innhold {
  flex: 1 0 0
}

img {
  max-width: 100%;
  max-height: 500px;
}

button {
  margin: 4px auto;
  padding: 0.6rem 2rem;
  font-weight: 600;
  background: transparent;
  border: 1px solid;
  display: block;
}