.App {
  text-align: center;
}

.struktur {
  height: 100vh;
  outline: 1px solid blue;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
}

.Hode {
  background: lightblue;
  padding: 20px
}

.fot {
  background: lightgreen;
  padding: 20px
}

.innhold {
  flex: 1 0 0
}